- content_for :javascripts do
  = javascript_include_tag 'home/index'
  :javascript
    window.runPageJs('#{fb_app_id}', '#{@fb_token}')

.row.flow-text
  %ul.staggered_list.col.s12.flow-text
    %li.card
      .card-image
        %iframe{frameborder: "no", scrolling: "no", src: "https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/160882627&auto_play=true&hide_related=true&show_comments=true&show_user=true&show_reposts=false&visual=true", width: "100%", height: "150px"}
      .card-content
        %p.card-title CosmicFuse Demo Includes:
        %small This demo includes a variety of original and cover material that include highlights from a sample mix of eight tunes.
        %ol
          %li
            %span.grey-text Cover&nbsp;&#124;&nbsp;
            %span.red-text.darken-text-4 Mission Impossible theme
          %li
            %span.grey-text Original&nbsp;&#124;&nbsp;
            %span.red-text.darken-text-4 Go Get It!
          %li
            %span.grey-text Cover&nbsp;&#124;&nbsp;
            %span.red-text.darken-text-4 Hush - Deep Purple
          %li
            %span.grey-text Original&nbsp;&#124;&nbsp;
            %span.red-text.darken-text-4 Savannah
          %li
            %span.grey-text Cover&nbsp;&#124;&nbsp;
            %span.red-text.darken-text-4 Evil Ways - Santana
          %li
            %span.grey-text Original&nbsp;&#124;&nbsp;
            %span.red-text.darken-text-4 K-Otic Blues
          %li
            %span.grey-text Cover&nbsp;&#124;&nbsp;
            %span.red-text.darken-text-4 Lazy - Deep Purple
          %li
            %span.grey-text Original&nbsp;&#124;&nbsp;
            %span.red-text.darken-text-4 The Hip Hop
    - @members.each  do |m|
      = render 'member_card', m
    %li.card.iframe-card
      - @fb_events.each do |fb|
        .fb-post{"data-href" => fb[:event_url], "data-width" => "500"}
    %li.card.iframe-card
      %iframe{frameborder: "0", height: "600", width: "80%", style: "border-width:0", scrolling: "no", src: "https://calendar.google.com/calendar/embed?showTitle=0&showTabs=0&showCalendars=0&height=600&wkst=2&src=isd9lskm8sahs0opvs8o2nkqdc%40group.calendar.google.com&ctz=America%2FChicago"}
