- content_for :javascripts do
  = javascript_include_tag 'events/index'
  :javascript
    window.runPageJs('#{fb_app_id}', '#{@fb_token}')

.row.flow-text
  %ul#photo-list.staggered_list.col.s12.flow-text