- content_for :javascripts do
  = javascript_include_tag 'events/index'

.row
  %ul#event-list.staggered_list.col.s12
    %li.card.hoverable
      .card-content
        %p.card-title Cosmic Fuse has been found at the following venues:
        %ul
          %li
            %span.red-text.darken-text-4 Whiskey Junction, Mpls., MN
          %li
            %span.red-text.darken-text-4 Mayslacks, Mpls., MN
          %li
            %span.red-text.darken-text-4 Famous Dave's, Mpls., MN
          %li
            %span.red-text.darken-text-4 Narrows, Navarre, MN
          %li
            %span.red-text.darken-text-4 Rostamo's, Mpls., MN
          %li
            %span.red-text.darken-text-4 Dunham's, St. Paul, MN