@charset "UTF-8";

// Mixins
@import "materialize/components/prefixer";
@import "materialize/components/mixins";
@import "materialize/components/color";

// override variables
$primary-color: black !default;
$primary-color-light: lighten($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 15%) !default;

// Variables
@import "materialize/components/variables";

// Reset
@import "materialize/components/normalize";

// materialize/components
@import "materialize";

html { 
  background: image-url("grey_background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// side-nav padding overrides
header, main, footer {
  padding-left: 240px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
}

main.container{
  padding-bottom: 50px
}

// navbar overrides
nav{
  a.brand-logo{
    height: 100%;

    img{
      height: 100%;
    }
  }

  li>a>img{
    vertical-align: middle;
  }
}

// staggered list styles
.staggered_list li{
  opacity: 0;
}

// card title overrides
.card .card-title{
  font-weight: bold;
}

// normalize ol numbering
ol li{
  list-style-type: decimal;
}

.iframe-card{
  padding: 30px 0;
  iframe, .fb_iframe_widget, .fb_iframe_widget>span{
    display: block;
    margin: auto;
  }
}

#event-list{
  .old-event-cover{
    background: color("orange", 'lighten-5') image-url("past_show.png") no-repeat center center;
    .row>*{
      opacity: .3;
    }
  }

  .card-panel:hover{
    .event-details{
      background: image-url("fb_logo.png") no-repeat top right;
    }
    &:not(.old-event-cover){
      background: color("blue", "lighten-5");
    }
  }

  h4.event-title{
    margin-bottom: 0;
  }

  h6.event-icon-wrapper {
    margin-top: 0;
    display: inline-block;

    i.material-icons{
      position: relative;
      top: 10px;
    }
    .event-icon-details{
      margin-top: -15px;
      margin-left: 30px;
      display: block;
    }
    .event-location-name{
      font-weight: bold;
      font-size: 120%;
    }
  }
}

#main-band-card.card{
  .card-title{
    font-family: Lobster, Impact, Charcoal, sans-serif;
    bottom: 50%;
    left: 33%;
  }
  .card-content p{
    letter-spacing: -1px;
    padding-bottom: 10px;
  }
}

.member-card-image{
  h4{
    font-weight: bold;
  }
  .member-card-instrument{
    text-decoration: underline;
  }
}

.member-card-content{
  letter-spacing: -1px;
}
