@charset "UTF-8";

// landing page styles
#landing .slider{
  .slides li .caption{
    font-family: Lobster, Impact, Charcoal, sans-serif;
    top: 30%;
    font-size: 75px;
    text-align: center;
  }
  ul.indicators{
    display: none;
  }
}